<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir todas las solicitudes a search.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ views/alojamientos/search.php [QSA,L]
</IfModule>

# Configuración de seguridad
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "DENY"
</IfModule>

# Deshabilitar listado de directorios
Options -Indexes